# editor
.idea
.vscode

# requirements
clustal-omega-1.2.2-win64
python-3.13.2-embed-amd64
start.bat

# output
.sequencehash
sequences.aln
sequences.fasta
sequences.json
sequences.docx
sequences.html
